#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

%:
	dh $@ 

override_dh_auto_configure:
	cmake -DCMAKE_INSTALL_PREFIX=/usr .

override_dh_auto_build:
	cmake --build . --target all

override_dh_auto_test:
	# Add tests here if needed

override_dh_auto_install:
	cmake --install . --prefix debian/cli-file-explorer/usr
